{% extends 'base.html.twig' %}

{% block title %}Merci !{% endblock %}

{% block body %}
    <div class="wrapper">
        <div style="background: rbga(0,0,0,0.1); padding: 0.5rem;">
            <strong>{{ message }}</strong>
        </div>
        <form action="{{ url('reply') }}" method="post">
            <input type="hidden" value="{{ token }}" name="token">
            {% for question in questions %}
                <label for="{{ question.id }}" {% if question.color %}style="color:{{ question.color }}"{% endif %}>
                    <input id="{{ question.id }}" type="radio" name="short" value="{{ question.short }}" {% if answer == question %} checked="checked" {% endif %}>
                    <span>{{ question.content }}</span>
                </label>
                <br>
            {% endfor %}
            <button type="submit">Modifier ma réponse</button>
        </form>
    </div>
{% endblock %}
