{# templates/emails/new_race.html.twig #}

Bonjour à toutes et à tous,<br>
vous êtes référencés comme instructeurs Raid.<br>
<br>
Une nouvelle épreuve de raid est à instruire.<br>
<br>
<b>{{ race.name }}</b> programmé le <i>{{ race.date|date('d M Y') }}</i> dans
{% if race.states | length > 1 %}les departements
{% else %} le département
{% endif %}
{{ race.states | join(', ', ' et ') }}
<br>
Positionnez vous : <br>

<table>
    <tr>
        {% for question in questions %}
            <td style="padding: 1rem"><a style="display:block; background: {{ question.color ? question.color : "#000" }}; text-decoration: none; margin: 10px; border: 1px solid #0e4e36;border-radius: 5px; color: black; padding: 1rem;"
                                         href="{{ url('reply', {'short' : question.short,'token': reply.token }) }}">{{ question.content }}</a></td>
        {% endfor %}
    </tr>
</table>

<br>
Merci pour vos retours,<br>
cordialement